body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgba(30, 221, 231, 1.0);
  background: -webkit-linear-gradient(bottom right, rgba(30, 221, 231, 1.0), rgba(102, 100, 204, 1.0));
  background: -moz-linear-gradient(bottom right, rgba(30, 221, 231, 1.0), rgba(102, 100, 204, 1.0));
  background: linear-gradient(to top left, rgba(30, 221, 231, 1.0), rgba(102, 100, 204, 1.0));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

a {
  top: 90px;
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
  left: 160px;
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  padding: 4px 14px 4px 14px;
}

a:hover {
  background-color: #fff;
  color: black;
}

.previous {
  background-color: #aeb6d3;
  color: black;
}

.round {
  border-radius: 50%;
}

.contact_title {
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 2s ease-in-out;
}

.contact_title h1 {
  font-size: 32px;
  line-height: 10px;
}

.contact_title h2 {
  font-size: 16px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form1 {
  width: 700px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  ;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

.form1 {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 15px 35px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-7 {
  color: #fff;
  line-height: 40px;
  padding: 0px;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 50%;
  width: 2px;
}

.btn-7:after {
  width: 20%;
  height: 2px;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 5px #fff;
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 50%;
}

.btn-7 span:after {
  height: 2px;
  width: 20%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}

@media only screen and (max-width: 700px) {

  .back a{
    top: 50px;
    padding: 2px 10px 3px 10px;
    left: 20px;
  }

  .form1{
    font-size: 16px;
    width: 70%;
  }

  .contact_title  h1{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

  }

  .contact_title h2{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

  }
}